<%= render "shared/header" %>
<%# _heder.htmlcss使用 %>
<div class='header-anker'>
</div>  
<div class="top-main">
  <div class='title-contents'>
    <div class='title-text'>
      KYOレシピ検索アプリ！
    </div>
    <p class='title-sub-text'>
        簡単で、安くて、美味しい！<br>『今日』作れるものがすぐに見つかる！
    </p>
    <div class="rule-contents">
      <ul class="rule-title">
      〜KYOレシピの3つの特徴〜
        <li class="rule-list">
        「K」簡単に作れる。手順は3つまで、1つ50文字以内でできるもの。
        </li>
        <li class="rule-list"> 
        「Y」安く出来る。金額は一人分の作成費、最大1000円まで。
        </li>
        <li class="rule-list"> 
        「O」美味しいもの。見た目よりも美味しさ重視。
        </li>
      </ul>
    </div>
  </div>
  <div class="recipe-contents">
    <div class="recipe-list-title">
      新着レシピ (新着順)
    </div>
    <div class="recipe-lists">
      <% @recipe.first(6).each do |recipe| %>
        <div class="recipe-list">
          <div class="list-title">
            <%= recipe.title %>
          </div>
          <div class="list-image-box">
            <%= link_to image_tag(recipe.image.variant(resize:'640x480').processed), recipe_path(recipe.id) %>
          </div>
          <div class="list-user-like-price">
            <div class="list-user">
              <%= link_to "#{recipe.user.nickname}",  user_recipe_path(recipe.user_id), class: "list-user-text" %>さん
            </div>
            <div class="list-price">
              約<%= recipe.price%>円
            </div>
            <% if recipe.likes.exists? %>
              <div class="list-like">
                いい値!  <%= recipe.likes.length%>  
              </div>
            <% end %>
          </div>
          <div class="list-procedure">
              <p>〜手順①〜</p>
            <%= recipe.procedure1 %>
            <%= link_to "詳細", recipe_path(recipe.id), class: "procedure-link" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="recipe-list-title">
      人気レシピ TOP3!　 〜いい値！順〜     
    </div>
    <div class="recipe-lists">
      <% @recipe_pop.first(3).each do |recipe| %>
        <div class="recipe-list">
          <div class="list-title">
            <%= recipe.title %>
          </div>
          <div class="list-image-box">
            <%= link_to image_tag(recipe.image.variant(resize:'640x480').processed), recipe_path(recipe.id) %>
          </div>
          <div class="list-user-like-price">
            <div class="list-user">
              <%= link_to "#{recipe.user.nickname}",  user_recipe_path(recipe.user_id), class: "list-user-text" %>さん
            </div>
            <div class="list-price">
              約<%= recipe.price%>円
            </div>
            <% if recipe.likes.exists? %>
              <div class="list-like">
                いい値!  <%= recipe.likes.length%>  
              </div>
            <% end %>
          </div>
          <div class="list-procedure">
              <p>〜手順①〜</p>
            <%= recipe.procedure1 %>
            <%= link_to "詳細", recipe_path(recipe.id), class: "procedure-link" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="recipe-list-title">
      激安レシピ TOP3!
    </div>
    <div class="recipe-lists">
      <% @recipe_price.first(3).each do |recipe| %>
        <div class="recipe-list">
          <div class="list-title">
            <%= recipe.title %>
          </div>
          <div class="list-image-box">
            <%= link_to image_tag(recipe.image.variant(resize:'640x480').processed), recipe_path(recipe.id) %>
          </div>
          <div class="list-user-like-price">
            <div class="list-user">
              <%= link_to "#{recipe.user.nickname}",  user_recipe_path(recipe.user_id), class: "list-user-text" %>さん
            </div>
            <div class="list-price">
              約<%= recipe.price%>円
            </div>
            <% if recipe.likes.exists? %>
              <div class="list-like">
                いい値!  <%= recipe.likes.length%>  
              </div>
            <% end %>
          </div>
          <div class="list-procedure">
              <p>〜手順①〜</p>
            <%= recipe.procedure1 %>
            <%= link_to "詳細", recipe_path(recipe.id), class: "procedure-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div> 
</div>

