<div class="new-recipe-contens">
  <header class="new-recipe-header">
     <%= link_to image_tag("kyo_rogo.png", class:"logo-image"), "/" %>
  </header>


  <div class="new-recipe-main">
    <div class="new-recipe-title">レシピを投稿</div>

    <%= form_with model: @recipe, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

    <div class="input-field">
      <%= f.label :画像：必須 %><br />
      <%= f.file_field :image %>
    </div>

    <div class="input-field">
      <%= f.label :タイトル：必須 %><br />
      <%= f.text_field :title, placeholder: "20文字以内で記入してください"  %>
    </div>

    <div class="input-field">
      <%= f.label :材料費：必須 %><br />
      <%= f.text_field :price, placeholder: "半角数字、1000(円)以内で記入してください"  %>
    </div>

    <div class="input-field">
      <%= f.label :手順①：必須 %><br />
      <%= f.text_field :procedure1, placeholder: "50文字以内で記入してください" %>
    </div>

    <div class="input-field">
      <%= f.label :手順② %><br />
      <%= f.text_field :procedure2, placeholder: "50文字以内で記入してください" %>
    </div>

    <div class="input-field">
      <%= f.label :手順③ %><br />
      <%= f.text_field :procedure3, placeholder: "50文字以内で記入してください" %>
    </div>

    <div class="input-field">
      <%= f.label :コツ・ポイント・補足 %><br />
      <%= f.text_area :info, size: "50%" %>
    </div>

    <%= f.submit "投稿する" ,class:"sell-btn" %>

  <% end %>
</div>