<%= render "shared/header" %>
<%# _heder.htmlcss使用 %>
<div class='header-anker'>
</div> 

<div class="recipe-show">
  <div class="recipe-conetent">
    <div class="content-user">
      <%= "#{@recipe.user.nickname} さんのKYOレシピ" %>
      <% if user_signed_in?  && current_user.id == @recipe.user_id %>
        <div class="link-buttons">
          <%= link_to "更新", edit_recipe_path(@recipe.id), class:"link-button" %>
          <%= link_to "削除", recipe_path(@recipe.id), method: :delete, class:"link-button", data: { confirm: "削除したデータは戻りません、よろしいですか？"} %>
        </div>
      <% end %>
    </div>
    <div class="content-image">
      <%= image_tag @recipe.image %>
    </div>
    <div class="contet-price">
      （一人分）だいたい<b class="price" ><%= " #{@recipe.price}円" %></b> くらい
    </div>
  </div>
  <div class="procedure-content">
    <div class="procedure-box">
      <div class="procedure-num">
        〜手順①〜
      </div>
      <div class="procedure-text">
        <%= @recipe.procedure1 %>
      </div>
    </div>
    <% unless @recipe.procedure2 == "" %>
      <div class="procedure-box">
        <div class="procedure-num">
          〜手順②〜
        </div>
        <div class="procedure-text">
          <%= @recipe.procedure2 %>
        </div>
      </div>
    <% end %>
    <% unless @recipe.procedure3 == "" %>
      <div class="procedure-box">
        <div class="procedure-num">
          〜手順③〜
        </div>
        <div class="procedure-text">
          <%= @recipe.procedure3 %>
        </div>
      </div>
    <% end %>
    <div class="recipe-point-contet">
      <div class="point-title">
        ■コツ・ポイント・補足■
      </div>
      <div class="point-text">
        <%= @recipe.info %>
      </div>
    </div>
  </div>
</div>
